<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-kumulos-sdk" version="4.2.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KumulosSDKPlugin</name>
    <asset src="www/vendors~raven-js.bundle.js" target="plugins/cordova-plugin-kumulos-sdk/www/vendors~raven-js.bundle.js" />
    <js-module name="KumulosSDKCore" src="www/kumulos-sdk-core.js" />
    <js-module name="KumulosSDK" src="www/kumulos-sdk-plugin.js">
        <clobbers target="window.Kumulos" />
    </js-module>
    <hook type="before_prepare" src="scripts/inject-config.js" />
    <platform name="ios">
        <resource-file src="scripts/kumulos.plist" target="kumulos.plist" />
        <config-file parent="/*" target="config.xml">
            <feature name="KumulosSDKPlugin">
                <param name="ios-package" value="KumulosSDKPlugin" />
            </feature>
        </config-file>
        <!-- Set up required background modes -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </config-file>
        <!-- Add APNS entitlements -->
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
        <source-file src="src/ios/KumulosSDKPlugin.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="KumulosSdkObjectiveC" spec="4.2.2" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="KumulosSDKPlugin">
                <param name="android-package" value="com.kumulos.cordova.android.KumulosSDKPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <!-- Kumulos FCM handler -->
            <service android:name="com.kumulos.android.FirebaseMessagingService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>

            <!-- Kumulos Push receiver -->
            <receiver android:name="com.kumulos.cordova.android.PushReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="com.kumulos.push.RECEIVED" />
                    <action android:name="com.kumulos.push.OPENED" />
                    <action android:name="com.kumulos.push.BUTTON_CLICKED" />
                </intent-filter>
            </receiver>

            <!-- Kumulos Init Provider -->
            <provider android:authorities="${applicationId}.kumulosinitprovider" android:name="com.kumulos.cordova.android.KumulosInitProvider" android:exported="false" />
        </config-file>
        <source-file src="src/android/KumulosInitProvider.java" target-dir="src/com/kumulos/cordova/android" />
        <source-file src="src/android/KumulosSDKPlugin.java" target-dir="src/com/kumulos/cordova/android" />
        <source-file src="src/android/PushReceiver.java" target-dir="src/com/kumulos/cordova/android" />
        <framework src="src/android/kumulos.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
